body {
	color:#606060;
	font-family: 'Sanchez', serif;
}

a {
  text-decoration: none;
}

ul {
	list-style-type: none;
}

button {
  background-color: transparent;
  font-family: 'Lobster', cursive;
  padding: 1%;
  border: none;
  color:#606060;
}

button: hover {
	color: white;
}

.draggable-container {
	position: absolute;
	top: 5%;
}

.navigation-container {
	top:0 ;
	padding: 0;
	margin: 0;
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 999;
}

.navigation-bar {
	display: block;
	background-color: #fcbfbf;
	height: auto;
	padding: 1%;
}

.navigation-bar .write-btn {
	position: absolute;
	top: 1%;
	right:10%;
	font-size: 1.5vw;
}

.navigation-bar .search-btn {
	position: absolute;
	top: 1%;
	right: 1%;
	font-size: 1.5vw;
}

.navigation-bar span {
	font-family: 'Lobster', cursive;
	font-size: 2vw;
}

.edit-delete-container {
	position: absolute;
	bottom: 3%;
	right: 3%;
	display: block;
	width: 30%;
}

.round-square {
	position: relative;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}

.round-square:hover {
	z-index: 999;
	transform: scale(0.95);
	-webkit-box-shadow: 31px 25px 78px 1px rgba(153,153,153,0.64);
    -moz-box-shadow: 31px 25px 78px 1px rgba(153,153,153,0.64);
    box-shadow: 31px 25px 78px 1px rgba(153,153,153,0.64);
}

.write-detail, .search-detail, .delete-detail {
	z-index: 999;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 0;
	padding-top: 10%;
	width: 50%;
	height: 50%;
	background-color: rgba(252, 191, 191, 0.9);
	border-radius: 5%;
	-webkit-box-shadow: 31px 25px 78px 1px rgba(153,153,153,0.64);
    -moz-box-shadow: 31px 25px 78px 1px rgba(153,153,153,0.64);
    box-shadow: 31px 25px 78px 1px rgba(153,153,153,0.64);
	display: block;
	text-align: center;
}

.write-detail textarea, .write-detail button , 
.search-detail textarea, .search-detail button.
.delete-detail p, .delete-detail button {
	display: table-cell;
	vertical-align: middle;
}

.write-detail textarea, .search-detail textarea {
	 border:none;
    -webkit-appearance: none;
     background: transparent;
     outline: none;
     text-decoration: dotted underline;
     color:#606060;
     left: 0;
	 right: 0;
	 margin: auto;
     height: 100%;
     width: 80%;
     font-size: 2vw;
}

.ng-inline-edit--error .ng-inline-edit__input {
  border-color: #f00;
}

.ng-inline-edit__button {
	position: absolute;
	right: 30%;
	bottom: 3%;
	display: none;
}

.ng-inline-edit__button:hover {
  text-decoration: underline;
}

.stk-content textarea {
    border:none;
    -webkit-appearance: none;
     background: transparent;
     outline: none;
     text-decoration: dotted underline;
     color:#606060;
     height: 150%;
     width: 100%;
     text-align: center;
}

li:hover .ng-inline-edit__button {
	display: inline;
}

.ng-inline-edit__inner-container a {
	font-family: 'Lobster', cursive;
}

.ng-inline-edit .ng-inline-edit__button--save {
  visibility: visible;
}