body {
	color:#606060;
	font-family: 'Sanchez', serif;
}

a {
  text-decoration: none;
}

ul {
	list-style-type: none;
}

button {
  background-color: transparent;
  font-family: 'Lobster', cursive;
  padding: 1%;
  border: none;
  color:#606060;
}

button: hover {
	color: white;
}

.draggable-container {
	position: absolute;
	top: 5%;
}

.navigation-container {
	top:0 ;
	padding: 0;
	margin: 0;
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 999;
}

.navigation-bar {
	display: block;
	background-color: #fcbfbf;
	height: auto;
	padding: 1%;
}

.navigation-bar .write-btn {
	position: absolute;
	top: 1%;
	right:10%;
	font-size: 1.5vw;
}

.navigation-bar .search-btn {
	position: absolute;
	top: 1%;
	right: 1%;
	font-size: 1.5vw;
}

.navigation-bar span {
	font-family: 'Lobster', cursive;
	font-size: 2vw;
}

.edit-delete-container {
	position: absolute;
	bottom: 3%;
	right: 3%;
	display: block;
	width: 30%;
}

.write-detail {
	z-index: 999;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 30%;
	height: 30%;
}

.search-detail {
	z-index: 998;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 30%;
	height: 30%;
}
